*, *::before, *::after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #666;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

html, body {
    background: #222;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
