.Media {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
    width: 100%;

    > header {
        align-items: center;
        display: flex;
        font-size: 1.125rem;
        line-height: 1;
        margin-bottom: 8px;
        min-height: 1em;

        > span {
            position: relative;
        }

        img {
            transition: opacity 0.2s, visibility 0.2s;

            &.is-inactive {
                opacity: 0;
                visibility: hidden;
            }
        }

        h2 {
            font-size: 1em;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;

            &.current-folder-enter {
                opacity: 0;
                transform: translateX(1em);
                transition: opacity 0.2s, transform 0.2s;
            }

            &.current-folder-enter.current-folder-enter-active {
                opacity: 1;
                transform: translateX(0);
            }

            &.current-folder-leave {
                position: absolute;
                top: 0;
                transition: opacity 0.2s, transform 0.2s;

            }

            &.current-folder-leave.current-folder-leave-active {
                opacity: 0;
                transform: translateX(-1em);
            }
        }
    }

    &-fileList {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 1;
        overflow-x: auto;
    }

    &-file {
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        color: inherit;
        flex-basis: 140px;
        font: inherit;
        font-size: 0.9em;
        text-align: center;
        padding: 1rem;

        &:focus {
            border-radius: 10px;
            box-shadow: inset 0 0 0 2px currentColor;
            outline: 0;
        }
    }
}
