.Timeline {
    height: 100%;
    overflow: auto;
    width: 100%;

    &-clip {

        &--video {
            background: #31a5bc;
            border: 1px solid;
            border-color: rgba(218, 232, 228, 0.41) rgba(54, 78, 71, 0.36) rgba(54, 78, 71, 0.36) rgba(218, 232, 228, 0.41);
            padding: 8px;
        }
    }

    &-composition {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }

    &-needle {
        border-left: 1px solid rgba(#fff, 0.9);
        bottom: 0;
        left: calc(50% - 0.5px);
        position: absolute;
        top: 10px;
    }

    &-playhead {
        background: blue;
        height: 10px;
        margin-bottom: auto;
    }

    &-track {
        border-top: 1px solid #333;
        border-bottom: 1px solid #111;
        display: flex;

        &--audio {
            height: 55px;

            .Timeline-track--video + & {
                border-top-width: 10px;
                margin-top: -1px;
            }
        }

        &--video {
            height: 70px;
        }

        &:last-child {
            margin-bottom: auto;
        }
    }
}
