.Preview-viewport {
    background: #000;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

.Preview-viewport iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
