.Timeline {
    height: 100%;
    overflow: auto;
    width: 100%;
}

.Timeline-clip {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
}

.Timeline-clip--audio {
    overflow: hidden;
}

.Timeline-clip--video {
    background: #31a5bc;
    border: 1px solid;
    border-color: rgba(218, 232, 228, 0.41) rgba(54, 78, 71, 0.36) rgba(54, 78, 71, 0.36) rgba(218, 232, 228, 0.41);
    padding: 8px;
}

.Timeline-clipTrim {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 10px;
}

.Timeline-clipTrim--end {
    cursor: url(../../img/icons/align-right.svg) 9 9, pointer;
    right: 100%;
}

.Timeline-clipTrim--start {
    cursor: url(../../img/icons/align-left.svg), pointer;
    left: 0;
}

.Timeline-composition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    min-height: 100%;
    position: relative;
}

.Timeline-playhead {
    margin-bottom: auto;
}

.Timeline-playhead-bar {
    background: #555;
    height: 20px;
}

.Timeline-playhead-head {
    border: 10px solid transparent;
    border-bottom: 0;
    border-top: 20px solid #ddd;
    margin: 0 -10px 0 -11px;
    width: 21px;
}

.Timeline-playhead-line {
    border-left: 1px solid;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}

.Timeline-track {
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
    position: relative;
}

.Timeline-track--audio {
    height: 55px;
}

.Timeline-track--video + .Timeline-track--audio {
    border-top-width: 10px;
    margin-top: -1px;
}

.Timeline-track--video {
    height: 70px;
}

.Timeline-track:last-child {
    margin-bottom: auto;
}
