.NavBar {
    color: #fff;
    position: relative;
    z-index: 1;

    > ul {
        display: flex;
    }

    li {
        font-size: 15px;
        padding: 3px 10px;
        position: relative;

        ul {
            display: none;
            left: 0;
            position: absolute;
            top: 100%;
        }

        &:hover {
            background: rgba(#fff, 0.05);

            > ul {
                display: block;
            }
        }

        li {
            > ul {
                left: 100%;
                top: 0;
            }
        }
    }
}
