.Pane {
    align-items: center;
    background: #3b3f41;
    display: flex;
    flex-grow: 100;
    justify-content: center;
    padding: 8px;
    position: relative;
}

.PaneRow {
    display: flex;
    flex-grow: 100;
}
